<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Get the collage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1></h1>
        <div class="row">
            <form class="form-horizontal" method="POST" action="/">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-4">
                        {{ form.search(size=50, class_="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Давай коллаж</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-offset-2">
                {% for m in media %}
                    <img src="{{ m.src }}" />
                    <p>{{ m.filename }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>